       @import url('https://fonts.googleapis.com/css2?family=Acme&family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Bungee&family=Caprasimo&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

       html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        iframe {
            width: 90%;
            border: 1%;  
        }

        img {
            width: 15%;
        }

        body {
            background-color: #050A15;
            font-family: "Bungee", sans-serif;
        }

        nav {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            padding: 0 10px;
        }

        nav ol {
            display: flex;
            list-style: none;
            padding: 0;
            margin: 0;
            gap: 15px;
        }

        nav a {
            display: inline-block;
            padding: 12px 20px;
            text-decoration: none;
            color: #2b4ce2;
            background-color: #f0fffa;
            border: 3px solid #2b4ce2;
            border-radius: 8px;
            font-family: "Bungee", sans-serif;
            font-weight: 400;
            font-size: 16px;
            transition: all 0.3s ease;
            box-shadow: 0 4px 6px rgba(31, 4, 185, 0.979);
        }

        nav a:hover {
            background-color: #0D1D3A;
            color: rgb(255, 255, 255);
            text-align: center;
            transform: translateY(-2px);
            box-shadow: 0 6px 8px rgba(59, 132, 180, 0.918);
        }

        nav a:active {
            transform: translateY(0);
            box-shadow: 0 2px 4px rgb(121, 13, 13);
        }
